<link rel="stylesheet" href="srcs/styles/admin.css">
<div id="admin_wrapper">
	<nav id="admin_nav">
		<ul>
			<li><a href="#basics">Générale</a></li>
			<li><a href="#articles">Articles</a></li>
			<li><a href="#menu">Horaire</a></li>
			<li><a href="#images">Ressources</a></li>
		</ul>
	</nav>
	<section id="basics">
		<h2>Générale</h2>
		<form id="update_basics">
			<h3>Changer le mot de passe administrateur</h3>
			<table>
				<tr>
					<td><label for="old-password">Ancien mot de passe</label></td>
					<td><input type="password" name="old-password" id="old-password" placeholder="Ancien mot de passe"></td>
				</tr>
				<tr>
					<td><label for="new-password">Nouveau mot de passe</label></td>
					<td><input type="password" name="new-password" id="new-password" placeholder="Nouveau mot de passe"></td>
				</tr>
				<tr>
					<td><label for="confirm-password">Confirmer le mot de passe</label></td>
					<td><input type="password" name="confirm-password" id="confirm-password" placeholder="Confirmer le mot de passe"></td>
				</tr>
			</table>
		</form>
	</section>
	<section id="articles">
		<h2>Articles</h2>
		<div class="wrapper">
			
		</div>
	</section>
	<section id="menu">
		<h2>Menu : A venir</h2>
		<div class="wrapper">
			
		</div>
	</section>
	<section id="images">
		<h2>Ressources</h2>
		<div class="wrapper">
			
		</div>
	</section>
</div>
<script src="srcs/scripts/admin.js"></script>
