	</main>
    <!-- Footer -->
    <footer class="cafe-footer">
        <p>&copy; 2023 Café de Fa. All rights reserved.</p>
    </footer>

    <script src="srcs/scripts/main.js"></script>
    <script src="srcs/libs/OVC/ovc.js"></script>
</body>
</html>