<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café de Fa</title>
    <link rel="stylesheet" href="srcs/styles/main.css">
    <link rel="stylesheet" href="srcs/styles/main_desktop.css">
</head>
<body>
    <%- include('../views/nav.ejs') %>
    <!-- Main -->
    <main id="main" class="cafe-main">