<link rel="stylesheet" href="srcs/styles/informations.css">
<section id="infos" class="cafe-section">
	<h2>Informations</h2>
	<div class="wrapper">
		<div id="story" class="info">
			<h3>Notre Histoire</h3>
			<div>
				<p>Découvrez l'histoire de notre café, de sa création à aujourd'hui.</p>
			</div>
		</div>
		<div id="map" class="info">
			<h3>Nous Trouver</h3>
				<div>
					<div class="mapouter">
						<div class="gmap_canvas">
							<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=place%20de%20la%20fontaine%20val%20du%20faby&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
							<style>
								.mapouter {
									position: relative;
									text-align: right;
									height: 500px;
									width: 100%;
								}
								.gmap_canvas {
									overflow: hidden;
									background: none !important;
									height: 500px;
									width: 100%;
								}
								iframe {
									display: block;
									width: 100%;
									height: 100%;
								}
							</style>
						</div>
					</div>
				</div>
		</div>
		<div id="schedules" class="info">
			<h3>Nos Horaires</h3>
			<div>
				<table>
					<tr>
						<td>Lundi :</td>
						<td colspan="2">Fermé</td>
					</tr>
					<tr>
						<td>Mardi à Vendredi :</td>
						<td>8h30 - 15h</td>
						<td>18h - 22h30</td>
					</tr>
					<tr>
						<td>Samedi :</td>
						<td>9h30 - 15h</td>
						<td>18h - 23h00</td>
					</tr>
					<tr>
						<td>Dimanche :</td>
						<td colspan="2">9h30 - 16h</td>
					</tr>
					<tr>
				</table>
			</div>
		</div>
	</div>
</section>