<section>
	<h2>Login</h2>
	<form action="/login" method="POST">
		<div>
			<label for="password">Password</label>
			<input type="password" id="password" name="password" required>
			<input type="hidden" id="redirect" name="redirect" >
		</div>
		<button type="submit">Login</button>
	</form>
	<p>Don't have an account? <a href="/signup">Sign up</a></p>
</section>
<script src="srcs/scripts/login.js"></script>