<link rel="stylesheet" href="srcs/styles/logo.css">
<div class="logo-bg-grad"></div>
<div class="logo" style="background-image: url('srcs/imgs/branche\ café\ isolé\ \(1\).svg');">
	<h1>Café de Fa</h1>
	<hr/>
	<p>Café • Restauration • Epicerie • Bar</p>
</div>