<link rel="stylesheet" href="srcs/styles/news_cards.css">
<link rel="stylesheet" href="srcs/styles/news_cards_desktop.css">
<section id="news" class="cafe-section">
	<h2>Latest News</h2>
	
	<article class="card ovc_t no_bg">
		<div class="bg" style="background-image: url('srcs/imgs/matrix/istockphoto-489377142-2048x2048.jpg');"></div>
		<div class="bg grad"></div>
		<div class="wrapper">
			<h3>Live Music Every Friday</h3>
			<div class="par ovct">
				<div>Join us every Friday for live music performances by local artists. Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium corporis nesciunt mollitia, sunt ab facilis magnam iusto eligendi numquam? Delectus placeat rem explicabo nisi hic laudantium possimus a ipsa minima!</div>
				<a href="#" class="btn">Learn More</a>
			</div>
		</div>
	</article>
	<article class="card ovc_t">
		<div class="bg" style="background-image: url('srcs/imgs/matrix/istockphoto-489377142-2048x2048.jpg');"></div>
		<div class="bg grad"></div>
		<div class="wrapper">
			<h3>Special Holiday Hours</h3>
			<div class="par ovct">
				<div>We have special hours during the holiday season. Check them out and plan your visit.</div>
				<a href="#" class="btn">View Hours</a>
			</div>
		</div>
	</article>
	<article class="card ovc_t">
		<div class="bg" style="background-image: url('srcs/imgs/matrix/img_bright.jpg');"></div>
		<div class="bg grad"></div>
		<div class="wrapper">
			<h3>New Coffee Blend Launched</h3>
			<div class="par ovct">
				<div>We are excited to announce the launch of our new coffee blend. Come and try it out! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates velit animi a eum tempora odit iure quibusdam, ipsam rerum optio molestias labore enim, est, iste fugiat soluta cum minus dicta? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt ipsa eum repellat quidem corrupti accusamus voluptatem at modi, perferendis et. Omnis doloremque deserunt beatae architecto, dolore impedit? Quisquam, non explicabo!</div>
				<a href="#" class="btn">Read More</a>
			</div>
		</div>
	</article>
	<nav id="news_nav" class="news-nav">
		<div id="news_nav_btns">
			
		</div>
		<div id="timer">
			<div id="timer_bar" onanimationend="cards.timeout(this)"  class="timeon"></div>
		</div> 
		<div class="bg">

		</div>
	</nav>
</section>