
<div data-value="">--select an option--</div>
<% for (o of options) { 
	const { id, ...rest } = o;
	const other = Object.values(rest)[0];
	%>
	<div class="db_option" tabindex="0" data-value="<%= id %>"><%= other %></div>
<% } %>
