main{
	--logo-transi: cubic-bezier(0.85, 0, 0.15, 1);
	--logo-transi-dur: 1s;
}

@keyframes card_transi{
	0%{
		opacity: 0;
		transform: translateX(-10vw);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}
@keyframes card_appears {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@property --scale{
	syntax: "<number>";
	initial-value: 0;
	inherits: true;
}

@media (min-width: 768px) {

	#news{
		height: 100vh;
		position: relative;
		margin: 0px;
		text-align: right;
		overflow: hidden;
	}
	#news h2{
		display:none;
	}
	#news .card{
		width: 100%;
		height: 100%;
		position: absolute;
		/* transition: opacity 0.5s var(--out-expo) , visibility 0s .5s;
		transition-behavior: allow-discrete;
		opacity: 0;
		visibility: hidden; */
	}
	#news .card.active{
		animation: card_appears .5s var(--out-expo);
		/* transition: opacity 0.5s var(--out-expo) .3s, visibility 0s .3s;
		visibility: visible;
		opacity: 1; */
	}
	#news .grad{
		background: linear-gradient(233deg, rgba(0, 0, 0, .75) 21%, rgba(0, 0, 0, 0) 81%);
		height: 100%;
		transition: height 0.5s var(--out-expo);
	}
	#news .wrapper{
		position: relative;
		height: 100%;
		width: 40%;
		transform: none;
		z-index: 0;
		float: right;
	}
	#news .par{
		position: relative;
		font-size: 1.5em;
	}
	#news .card.active .par{
		animation: card_transi 2s var(--out-expo) .3s backwards;
	}
	#news .wrapper>*{
		margin: 5vh 5vw !important;
		display: inline;
	}
	#news .wrapper>h3{
		font-size: 4em;
	}
	#news .card.active .wrapper>h3{
		animation: card_transi 2s var(--out-expo) backwards;
	}
	#news_nav{
		display: grid;
		grid-template:
			"btns" var(--nav-height)
			"timer" 6px
			"bg" var(--nav-height) / 1fr;
		position: absolute;
		bottom: 0px;
		z-index: 10000;
		transform: translateY(var(--nav-height));
	}
	#news_nav_btns{
		grid-area: btns;
		z-index: 1;
		--bw: 5px; /*border-width*/
	}
	#news_nav #timer{
		z-index: 1;
		grid-area: timer;
	}
	@keyframes timer{
		0%{
			width: 0%;
		}
		100%{
			width: 100%;
		}
		
	}
	#news_nav #timer_bar{
		box-sizing: border-box;
		height: 100%;
		background-color: var(--bc);
		border-top: 3px solid var(--ac);
		filter: blur(1px);
	}
	#timer_bar.timeon{
		animation: timer 10s linear;
	}
	#news_nav:hover #timer_bar.timeon{
		animation-play-state: paused;
	}
	#news_nav_btns>div{
		--scale: .3;
		display: inline-block;
		box-sizing: border-box;
		width: var(--nav-height);
		height: var(--nav-height);
		border: var(--bw) solid var(--ac);
		background-color: var(--bc);
		border-radius: 50%;
		transform: scale(var(--scale));
		transition: --scale .5s var(--out-expo), border-width .5s var(--out-expo), transform .5s var(--out-expo);
		cursor: pointer;
	}
	#news_nav_btns>div:hover{
		--scale: .5;
	}
	#news_nav_btns>div.active{
		border-width: 10px;
		--scale: .4;
	}
	#news_nav_btns>div.active:hover{
		border-width: 10px;
		--scale: .55;
	}
	#news_nav_btns>div:last-child, #news_nav_btns>div:first-child{
		border-radius: 0;
		background-color: transparent;
		transform: scale(var(--scale), calc(var(--scale) / 1.3)) rotate(45deg);
		border-color: var(--bc); 
		border-width: var(--bw) var(--bw) 0 0;
	}
	#news_nav_btns>div:first-child{
		border-width: 0 0 var(--bw) var(--bw);
	}
	#news_nav .bg{
		grid-area: bg;
		background-color: black;
		filter:
		drop-shadow(calc(var(--nav-height) * -1) calc(var(--nav-height) * -1 / 2) 40px black)
		drop-shadow(0 calc(var(--nav-height) * -1 / 2) 40px black)
	}

	/* .news-nav-bg{
		background-color: black;
		filter: blur(50px);
		height: 1em;
		position: absolute;
	} */
}