
<%- include('../views/header.ejs') %>

<%- include('../views/logo.ejs') %>
<%- include('../views/news.ejs') %>
<section id="menu" class="cafe-section">
    <h2>Our Menu</h2>
    <p>Check out our menu and find your favorite coffee.</p>
    <a href="#" class="btn">View Menu</a>
</section>
<section class="cafe-section">
    <h2>Contact Us</h2>
    <p>Get in touch with us and let us know how we can help.</p>
    <a href="#" class="btn">Contact</a>
</section>
<%- include('../views/footer.ejs') %>

